.loading-map {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.search-container {
  position: fixed;
  top: 20px;
  left: 20px;

  width: 250px;
  padding: 5px;

  z-index: 999;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.pointer {
  cursor: pointer;
}
